<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h1>UserPage</h1>
   <table class="table table-hover">
        <thead> 
            <tr>    
                <th>Sr.</th>
                <th>Particular</th>
                <th>Date</th>
                <th>LastDate</th>
                <th>File</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody> 
            <tr>    
                <td>1</td>
                <td>Mountain</td>
                <td>04.06.2020</td>
                <td>01.06.2021</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>

            <tr>    
                <td>2</td>
                <td>Cloud</td>
                <td>06.11.2020</td>
                <td>27.03.2021</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            <tr>    
                <td>3</td>
                <td>MountainCamp</td>
                <td>04.08.2021</td>
                <td>21.08.2022</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            <tr>    
                <td>4</td>
                <td>VolcanicMountain</td>
                <td>16.07.2021</td>
                <td>09.06.2022</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            <tr>    
                <td>5</td>
                <td>Beaches</td>
                <td>15.01.2020</td>
                <td>18.02.2021</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            <tr>    
                <td>6</td>
                <td>Camp</td>
                <td>14.03.2020</td>
                <td>12.05.2021</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            <tr>    
                <td>7</td>
                <td>Cities</td>
                <td>01.01.2021</td>
                <td>02.02.2022</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            <tr>    
                <td>8</td>
                <td>Forest</td>
                <td>05.06.2021</td>
                <td>04.06.2022</td>
                <td></td>
                <td><button class="btn btn-primary">Download</button></td>
                
            </tr>

        </tbody>
   </table>

   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
